.header {
  width: 100%;
  text-transform: uppercase;
  font-size: 24px;
}

.link {
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  &:nth-last-child(1) {
    padding-bottom: 150px;
  }
}

.request {
  background-color: #212039;
  padding: 15px;
  border-radius: 15px;
  gap: 10px;
}

.field {
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
}

.field_name {
  font-weight: 600;
  font-size: 24px;
}

.btns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 10px;
}

.request_btn {
  all: unset;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: #fff;
  color: #000000;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.file {
  all: unset;
  text-transform: uppercase;
  padding: 10px;
  background-color: #fff;
  color: #000000;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.plan {
  display: flex;
  gap: 10px;
  width: 100%;
}

.plan_field_delete {
  cursor: pointer;
  text-decoration: underline;
}

.input {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  border: none;
  outline: none;
}

.btn {
  all: unset;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: #fff;
  color: #000000;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}